@import "tailwindcss";


:root {
    --background: #ffffff;
    --foreground: #171717;
    --bg-primary: #025BFF;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--bg-primary)
}

body {
    @apply bg-background text-foreground font-sans;
}

input {
    @apply outline-none;
}
